

<h1>Angular</h1>
<!--
<span 
class="glyphicon glyphicon-star-empty"></span>
<app-favorite 
    [is-favorite]="post.isFavorite"
    (output-alias)="onFavoriteChanged($event)">
</app-favorite>
<hr>
<br>
<button class="btn btn-primary" (click)="onLoadList()">load List</button>
<br>
<br>
<ul>
    <li  [class.iseven]="isEven" *ngFor="let course of courses; trackBy: trackCourse; even as isEven" >
        <p>{{ course?.name}}</p>
    </li>
</ul>

<span>{{myElement?.name}}</span>

<input appInputFormat />

<app-contact-form></app-contact-form>  


<br><br><br>

<signup-form ></signup-form>--> 

<app-posts></app-posts>   
